extends ../layouts/default

block intro
	h1 About
		
block content
	p.lead Montauk-native, Clark Graham
	p Founder and CEO Clark Graham, started making hand-crafted boats with is father as a child and built one of the world’s largest manufacturing and distributing of navel goods. Watch video to learn more about his story.<br /><br />

	p.lead The Beginning
	p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.